entrypoint = "index.js"
modules = ["nodejs-18:v3-20230608-f4cd419"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 12137914

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Seed Data"
author = 12137914

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scripts/seedData.js"
